/*=========================================
Media query
=========================================*/

$laptor: 1200px;
$tabletL: 1024px;
$tabletM: 770px;
$mobileL: 430px;
$mobileM: 380px;
$mobileS: 325px;
